In [1]:
import numpy as np
import pandas as pd
import scipy
import sklearn
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn as sns
sns.set()

In [9]:
data = pd.read_csv("04+-+decisiontreeAdultIncome.csv")
data.head()

,age,wc,education,marital status,race,gender,hours per week,IncomeClass
0,38,Private,HS-grad,Divorced,White,Male,40,<=50K
1,28,Private,Bachelors,Married,Black,Female,40,<=50K
2,37,Private,Masters,Married,White,Female,40,<=50K
3,31,Private,Masters,Never-married,White,Female,50,>50K
4,42,Private,Bachelors,Married,White,Male,40,>50K

In [10]:
#Check Datatype

data.dtypes

age                int64
wc                object
education         object
marital status    object
race              object
gender            object
hours per week     int64
IncomeClass       object
dtype: object

In [11]:
#Copy the data

df = data.copy()

In [14]:
# get dummies for catagorical variable

df1=pd.get_dummies(df,drop_first = True)
df1.head()

,age,hours per week,wc_ Local-gov,wc_ Never-worked,wc_ Private,education_ Doctorate,education_ HS-grad,education_ Masters,education_ Preschool,education_ Prof-school,education_ Some-college,marital status_ Never-married,marital status_ Widowed,marital status_Married,race_ Asian-Pac-Islander,race_ Black,race_ Other,race_ White,gender_ Male,IncomeClass_ >50K
0,38,40,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,1,0
1,28,40,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0
2,37,40,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0
3,31,50,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,1,0,1
4,42,40,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,1,1

In [15]:
df1.shape

(19787, 20)

In [19]:
#create X and Y

X = df1.iloc[:,:-1]
Y = df1.iloc[:,-1]

In [20]:
#Split the model into training and testing

from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test =  train_test_split(X,Y,test_size = 0.3,random_state=1234)

In [22]:
#Import Decision tree classifer

from sklearn.tree import DecisionTreeClassifier

In [23]:
# Max Depth - the max split of the node count
#min_samples_split - total number of samples ( rows) that need to be split
#min_samples_leaf -  minimal outcome the tree should have for each node
#max_leaf_nodes - maximum outcomes the tree can have for each mode
#-------------------------
#Splitter - random split/best split ( we have to chose the best split. It's nothing but the information gain)
#max_features = number of variables/features to be compared
#presort - wether to sort the data or not before the split
#-----------------------
#criterion ( Gini/Entropy) - Entropy of the data ( which calculates the impurity/randomness in the data). We should have lower entrophy values, Gini 

#min_impurity_decrease - How much impurity decrease is expected before we split

In [25]:
#Let's train the data
dtc = DecisionTreeClassifier(random_state = 1234)
dtc.fit(X_train,Y_train)
Y_pred = dtc.predict(X_test)

In [29]:
# Evaluate the model

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Y_test,Y_pred)
Accuracy = dtc.score(X_test,Y_test)

In [30]:
print(cm)
print(Accuracy)

[[3854  524]
 [ 765  794]]
0.7828869799562068

# The Regression Tree Code:

Reference : https://heartbeat.fritz.ai/implementing-regression-using-a-decision-tree-and-scikit-learn-ac98552b43d7

Many Other articals available on net to check if needed

In [31]:
#import numpy as np
#import pandas as pd
#from sklearn.tree import DecisionTreeRegressor
#from sklearn.model_selection import train_test_split
#from sklearn.metrics import r2_score,mean_squared_error
#import seaborn as sns

#df = pd.read_csv(‘DT-Regression-Data.csv’)

#x = df.x
#y = df.y
#x = x.values.reshape(-1, 1)
#y = y.values.reshape(-1, 1)
#x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.50, random_state=42)

#from sklearn.tree import DecisionTreeRegresser
#dtc = DecisionTreeRegresser(random_state = 1234)
#dtc.fit(x_train,y_train)
#Y_pred = dtc.predict(x_test)

#MSE = mean_square_error(y_test,y_pred)
#RMSE = np.sqrt(MSE)
#RMSE